<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>CHATROOM | TIMESTREAM</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body class="chat-body" style="background: url('images/chat-bg.jpg'); background-size: cover;">
<nav>
    <a href="/index">HOME</a>
    <a th:href="${session.loggedInUser == null ? '/sign-up' : '/profile'}">PROFILE</a>
    <a th:href="${session.loggedInUser == null ? '/sign-up' : '/all-chats'}">CHAT</a>
    <a href="/about">ABOUT</a>
    <a href="/contact">CONTACT</a>
    <a th:if="${session.loggedInUser == null}" href="/sign-up" class="login-link">SIGN-UP/LOGIN</a>
    <span th:if="${session.loggedInUser != null}" class="welcome-user">
  Welcome,<strong th:text="${session.loggedInUser.username}"></strong>!
    <a href="/logout" class="logout-link">LOG OUT</a>
</span>
</nav>
<a href="/index">
    <img src="images/logo.png" alt="website logo" class="logo">
</a>
<div class="chatroom-container">
<div class="chatroom-window">
    <div class="chat-left">
        <input type="hidden" id="usernameField"
               th:if="${session.loggedInUser != null}"
               th:value="${session.loggedInUser.username}">
        <input type="hidden" id="sessionIdField"
               th:value="${sessionId}">
        <div class="chat-messages" id="messages"></div>
    </div>
    <div class="chatroom-side-panel"></div>
</div>
<input type="text" id="messageInput" placeholder="Type Your Message Here...">
<button type="submit" id="send-btn">SEND</button>
</div>
<script src="/chat.js"></script>
</body>
</html>