<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>SIGN IN | TIMESTREAM</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body class="default-bg" style="padding-bottom: 20px;">
<div class="transition-div">
<nav>
    <a href="/index">HOME</a>
    <a th:href="${session.loggedInUser == null ? '/sign-up' : '/profile'}">PROFILE</a>
    <a th:href="${session.loggedInUser == null ? '/sign-up' : '/all-chats'}">CHAT</a>
    <a href="/about">ABOUT</a>
    <a href="/contact">CONTACT</a>
    <a th:if="${session.loggedInUser == null}" href="/sign-up" class="login-link">SIGN-UP/LOGIN</a>
    <span th:if="${session.loggedInUser != null}" class="welcome-user">
  Welcome,<strong th:text="${session.loggedInUser.username}"></strong>!
    <a href="/logout" class="logout-link" style="color: #042844;">LOG OUT</a>
</span>
</nav>
<a href="/index">
    <img src="images/logo.png" alt="website logo" class="logo">
</a>
<div class="havent">
    <p>Haven't Created An Account Yet? <a href="/sign-up">Sign-Up</a></p>
</div>
<div class="sign-in-div">
  <form action="/login" method="post">
    <div class="form-container">
      <div class="sign-in-wrapper">
          <div class="main-form active">
          <h1>SIGN IN</h1>
          <label for="username">Username</label>
          <input type="text" name="username" id="username" placeholder="Enter Username" required>
          <label for="password">Password</label>
          <input type="password" name="password" id="password" placeholder="Enter Password" required>
        <button type="submit" class="sign-in-btn">SIGN IN</button>
              <div th:if="${errors != null and errors.containsKey('username')}"
                   style="color: red; font-size: 14px;">
                  <p th:text="${errors['username']}"></p>
              </div>
      </div>
    </div>
    </div>
  </form>
  <div class="right-side-sign-in">
    <h2>HELLO, SWEETIE...</h2>
    <h1>WELCOME BACK TO THE TIMESTREAM!</h1>
    <p>SIGN IN TO JUMP BACK INTO YOUR TIME STREAM.</p>
  </div>
</div>
</div>
</body>
</html>