<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PocketATM | Menu</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body class="menu-body">
<div class="overlay"><h1>POCKETATM</h1></div>
<div class="menu-div">
    <h3>POCKETATM</h3>
    <ul class="menu-ul">
        <a href="/view"><li>VIEW BALANCE</li></a>
        <a href="/deposit"><li>DEPOSIT</li></a>
        <a href="/withdraw"><li>WITHDRAW</li></a>
        <li>EXIT</li>
    </ul>
</div>
</body>
</html>