<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CHATROOM | TIMESTREAM</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body class="chat-body" style="background: url('images/chat-bg.jpg'); background-size: cover;">
<img src="images/logo.png" class="logo">
<div class="chatroom-container">
<div class="chatroom-window">
    <div class="chat-left">
        <div class="chat-messages" id="messages"></div>
    </div>
    <div class="chatroom-side-panel"></div>
</div>
<input type="text" id="messageInput" placeholder="Type Your Message Here...">
<button type="submit" id="send-btn">SEND</button>
</div>
<script src="/chat.js"></script>
</body>
</html>