<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SIGN IN | TIMESTREAM</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
<div class="sign-in-div">
  <form action="" method="post">
    <div class="form-container">
      <div class="sign-in-wrapper">
          <div class="main-form active">
          <h1>SIGN IN</h1>
          <label for="username-sign-in">Username</label>
          <input type="text" name="username-sign-in" id="username-sign-in" placeholder="Enter Username" required>
          <label for="password-sign-in">Password</label>
          <input type="password" name="password-sign-in" id="password-sign-in" placeholder="Enter Password" required>
        <button type="button" class="sign-in-btn">SIGN IN</button>
      </div>
    </div>
    </div>
  </form>
  <div class="right-side-sign-in">
    <h2>HELLO, SWEETIE...</h2>
    <h1>WELCOME BACK TO THE TIMESTREAM!</h1>
    <p>SIGN IN TO JUMP BACK INTO YOUR TIME STREAM.</p>
  </div>
</div>
</body>
</html>