@font-face {
  font-family: 'QuartzoBold';
  src: url('/fonts/QuartzoBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
margin: 0;
padding: 0;
background: url("images/doctor-who-bg.jpg");
background-size: cover;
font-family: 'QuartzoBold', sans-serif;
}

.sign-up-div, .sign-in-div {
display: grid;
grid-template-columns: 1fr 1fr;
width: 930px;
height: 600px;
background: linear-gradient(to right, rgba(255,255,255,0.8) 50%, rgba(0,0,0,0.8) 50%);
background-size: contain;
margin: 0 auto;
border: 5px solid white;
border-radius: 10px;
margin-top: 150px;
box-shadow:
    0 8px 25px rgba(0, 0, 0, 0.9),
    0 12px 40px rgba(0, 0, 0, 0.8);
}

.sign-up-wrapper, .sign-in-wrapper {
  display:flex;
  height: 100%;
  align-items:center;
  justify-content:center;
}

.form-container {
  position: relative;
  width: 90%;
  max-width: 420px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h1 {
font-size: 50px;
text-align: center;
}

.sign-up-wrapper label, .sign-in-wrapper label {
display: block;
text-align: center;
width: 100%;
margin-bottom: 5px;
font-size: 25px;
}

.sign-up-wrapper input, .sign-in-wrapper input {
  display: block;
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
  padding: 8px 10px;
  font-size: 17px;
  border: 2px solid black;
  border-radius: 5px;
  border-top: none;
  border-right: none;
  border-left: none;
}

.right-side, .right-side-sign-in     {
flex: 1;
background: url("images/crack-in-the-wall.jpg") no-repeat;
background-size: 1260px;
background-position: center -10px;
color: white;
text-align: center;
border-radius: 10px;
}

.right-side h2 {
font-size: 40px;
}

.right-side-sign-in h2 {
font-size: 30px;
}

.right-side-sign-in h1 {
font-size: 35px;
}

 .right-side-sign-in p {
 margin-top: 370px;
 }

.right-side p {
font-size: 17px;
margin-top: 320px;
}

.next-btn, .back-btn, .submit-btn, .sign-in-btn {
font-size: 16px;
margin-top: 5px;
background-color: black;
color: white;
font-weight: bold;
box-shadow:
    inset 3px 3px 8px rgba(0, 0, 0, 0.5),
    inset -3px -3px 8px rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.main-form,
.username-form {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  transition: all 0.5s ease;
}

.username-form {
opacity: 0;
transform: translateX(-40px);
pointer-events: none;
margin-top: 200px;
}

.username-form.active {
opacity: 1;
transform: translateX(0);
pointer-events: auto;
}

.main-form.hidden {
opacity: 0;
transform: translateX(40px);
pointer-events: none;
}

.button-row {
display: flex;
gap: 10px;
}


/* chatroom styling */

.logo {
width: 100px;
height: 100px;
margin-top: 15px;
margin-left: 15px;
border-radius: 20px;

}

.chatroom-container {
margin-top: -20px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
position: relative;
z-index: 1;
}

.chatroom-container input {
height: 50px;
width: 68%;
font-size: 16px;
}

#send-btn {
margin-top: 30px;
font-size: 23px;
box-shadow:
    inset 3px 3px 8px rgba(0, 0, 0, 0.5),
    inset -3px -3px 8px rgba(255, 255, 255, 0.3);
    cursor: pointer;
    background-color: black;
    color: white;
    font-weight: bold;
}

.chatroom-window {
display: grid;
grid-template-columns: 1fr 1fr;
width: 1000px;
height: 600px;
background: linear-gradient(to right, rgba(255,255,255,0.8) 50%, rgba(0,0,0,0.8) 50%);
background-color: golden;
overflow-y: auto;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
box-shadow:
    0 8px 25px rgba(0, 0, 0, 0.9),
    0 12px 40px rgba(0, 0, 0, 0.8);
}

.chat-left {
background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow-y: auto;
  box-shadow:
      0 8px 25px rgba(0, 0, 0, 0.9),
      0 12px 40px rgba(0, 0, 0, 0.8);
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  color: black;
}

.chat-messages p {
  margin: 8px 0;
  padding: 10px 14px;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  width: fit-content;
  max-width: 80%;
  font-size: 15px;
}