<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LIST | T.C TODO</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
<form action="/add-task" method="post">
  <input type="text" name="taskName" placeholder="Task name" required>

  <select name="priority">
    <option value="LOW">Low</option>
    <option value="MEDIUM">Medium</option>
    <option value="HIGH">High</option>
  </select>

  <input type="date" name="dueDate" required>
  <button>Add Task</button>
</form>

<hr>

<form action="/list" method="get">
  <select name="priority">
    <option value="">All Priorities</option>
    <option value="LOW">Low</option>
    <option value="MEDIUM">Medium</option>
    <option value="HIGH">High</option>
  </select>

  <select name="status">
    <option value="">All Statuses</option>
    <option value="IN_PROGRESS">In Progress</option>
    <option value="COMPLETE">Complete</option>
  </select>

  <button type="submit">Apply Filter</button>
</form>

<table>
  <tr>
    <th>Task</th>
    <th>Priority</th>
    <th>Status</th>
    <th>Due Date</th>
  </tr>

  <tr th:each="task : ${tasks}">
    <td th:text="${task.taskName}"></td>
    <td th:text="${task.priority}"></td>
    <td th:text="${task.status}"></td>
    <td th:text="${task.dueDate}"></td>

    <td>
      <a th:href="@{'/edit-task/' + ${task.id}}"><img src="/images/edit-task-btn.png" style="width: 30px; height: 30px;"></a>
    </td>

    <td>

    <td>

      <form action="/complete-task" method="post">
        <input type="hidden" name="id" th:value="${task.id}">
        <button>Complete</button>
      </form>

    </td>

    <td>
      <form action="/delete-task" method="post">
        <input type="hidden" name="id" th:value="${task.id}">
        <button type="submit">Delete</button>
      </form>
    </td>

  </tr>

</table>

</body>
</html>