<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>T.C IMPOSTER GAME | HOME</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<div class="background-container">
<img class="background" src="/images/background.png">
</div>
<div class="startGame">
    <form action="/host-game" method="post">
<button type="submit" class="host-btn">HOST</button>
    </form>
        <form action="/join" method="get">
        <button type="submit" class="join-btn">JOIN</button>
    </form>
</div>
</body>
</html>