<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>T.C IMPOSTER GAME | HOME</title>
    <link rel="stylesheet" href="/styles.css">
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
    />
    <link href="https://fonts.googleapis.com/css2?family=Luckiest Guy&display=swap" rel="stylesheet">
</head>
<body>
<div class="transition-div">
<p class="index-desc"><span style="text-decoration: underline;">T.C Imposter Game</span> is a multiplayer social deduction game where one player is kept in the dark.
    <br>Join a room, receive a role, and try to uncover the imposter — or survive as one...</p>
<div class="info-icon-container">
<i class="fa-sharp fa-solid fa-circle-info" style="color: #ffffff;"></i>
    <div class="info-tooltip">
        <strong>How to Play!</strong><br>
        <ul class="instructions">
            <li>One player is secretly the imposter</li>
            <li>Everyone else receives the same category and question</li>
            <li>The imposter does not see the question and will have to answer based on the category alone</li>
            <li>Answer carefully and try to guess who's the imposter</li>
            <li>After everyone votes, the imposter reveals themselves</li>
            <li>If more than half guessed correctly, the group wins. Otherwise, the imposter wins</li>
        </ul>
    </div>
</div>
<div class="background-container">
<img class="background" src="/images/background.png">
</div>
<div class="startGame">
    <form action="/host-game" method="post">
<button type="submit" class="host-btn">HOST</button>
    </form>
        <form action="/join" method="get">
        <button type="submit" class="join-btn">JOIN</button>
    </form>
</div>
    <img id="musicToggle" src="/images/music-off.png" style="position: fixed; bottom: 10px; right: 10px; cursor: pointer; z-index: 9999;">
    <audio id="bgMusic" src="/audio/so-right-instrumental.mp3" loop muted></audio>
    <script src="bg-music.js"></script>
</div>
</body>
</html>