<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>T.C IMPOSTER GAME | JOIN</title>
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
</head>
<body>
<div class="transition-div">
<a href="/index"><button type="button" class="host-back-btn" style="font-family: 'Luckiest Guy', sans-serif; border: 7px solid #ffffff;">BACK</button></a>
<div class="background-join-container">
    <a href="/index"><img class="background-join" src="/images/background.png"></a>
</div>
<h3 class="join-game">JOIN A GAME!</h3>
<form action="/join-game" method="post">
    <div class="join-start-input">
<label>
<input type="text" name="code" placeholder="Enter Code" required>
</label>
<label>
<input type="text" name="name" placeholder="Enter Name" required>
</label>
    </div>
    <div class="join-start-buttons">
<button type="submit" class="join-start-btn">JOIN</button>
    </div>
</form>
    </div>
<h3 th:text="${error}"></h3>
    <img id="musicToggle" src="/images/music-off.png" style="position: fixed; bottom: 10px; right: 10px; cursor: pointer; z-index: 9999;">
    <audio id="bgMusic" src="/audio/so-right-instrumental.mp3" loop></audio>
    <script src="bg-music.js"></script>
</div>
</body>
</html>