<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReadingRealm | Home</title>
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body class="index-body">
<h3 class="description" style="text-align: center; color: #fbd7a7;">Get lost in the <span style="font-style: italic;">ReadingRealm.</span> Discover free eBooks and start reading instantly.</h3>
<div class="index-background">
    <img src="/images/rr-background.png">
</div>
<div class="index-btn-div">
    <form action="/get-books" method="get">
    <button type="submit" class="browse-btn">Browse Collection</button>
    </form>
</div>
</body>
</html>