<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>ReadingRealm | View</title>
  <link rel="stylesheet" href="/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body class="book-background">
<div class="back-home-div">
  <a href="/get-books"><button type="button" class="back-home-btn">Back</button></a>
</div>
<div class="main-book-div">
  <figure th:each="book : ${books}">
    <div class="book-media">
    <img th:src="@{/images/{file}(file=${book.image})}">
    <button type="submit" class="checkout-btn">Start Reading</button>
    </div>
    <figcaption>
      <div class="book-view-heading">
      <h2 th:text="${book.title}" class="book-title"></h2>
      <h2 th:text="${book.author}" class="book-author"></h2>
      </div>

      <h2 th:text="${book.synopsis}"></h2>

      <div class="book-view-characters">
      <span class="label">Main Characters: </span>
      <p th:text="${book.characters}" class="book-characters"></p>
      </div>

      <div class="book-view-pages">
        <span class="label"># Pages: </span>
        <p th:text="${book.pages}" class="book-pages"></p>
      </div>

      <div class="book-view-language">
      <span class="label">Language: </span>
      <p th:text="${book.language}" class="book-language"></p>
      </div>

      <div class="book-view-format">
        <span class="label">Format: </span>
        <p th:text="${book.format}" class="book-format"></p>
      </div>
    </figcaption>
  </figure>
</div>
</body>
</html>