<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReadingRealm | View</title>
  <link rel="stylesheet" href="/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<body class="view-body"
      th:style="'--topColor:' + (${books.themeColor} ?: '#ccc')">
<div class="back-home-div">
  <a href="/get-books"><button type="button" class="back-home-btn">Back</button></a>
</div>
<div class="main-book-div">
  <div class="book-wrapper">
  <figure th:each="book : ${books}">
    <div class="book-media">
    <img th:src="@{/images/{file}(file=${book.image})}">
        <a th:href="@{/read(id=${book.id})}" class="start-reading">
            <button type="button" class="checkout-btn">
                Start Reading
            </button>
        </a>
    </div>
    <figcaption>
      <div class="book-view-heading">
      <h2 th:text="${book.title}" class="book-title"></h2>
      <p th:text="${book.author}" class="book-author"></p>
      </div>

      <p th:text="${book.synopsis}" class="book-syn"></p>

      <p class="book-meta">
        <span class="meta-label" style="font-weight: bold;">Main Characters:</span>
          <br>
        <span class="meta-value" th:text="${book.characters}">
  </span>
      </p>



      <div class="book-view-pages">
        <span class="label" style="font-weight: bold;"># Pages: </span>
        <p th:text="${book.pages}" class="book-pages"></p>
      </div>

      <div class="book-view-language">
      <span class="label" style="font-weight: bold;">Language: </span>
      <p th:text="${book.language}" class="book-language"></p>
      </div>

      <div class="book-view-format">
        <span class="label" style="font-weight: bold;">Format: </span>
        <p th:text="${book.format}" class="book-format"></p>
      </div>
    </figcaption>
  </figure>
</div>
</div>
</body>
</html>