<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>WRITERSROOM | HOME</title>
  <link rel="stylesheet" href="/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
<div class="logo-container">
<img src="/images/wr-logo.png" width="700px" height="700px;">
</div>
<p class="tagline">Stay consistent. Stay creative. Finish.</p>
<div class="index-buttons">
<a href="/sign-up"><button type="button" class="sign-up-btn">Sign Up</button></a>
<a href="/login"><button type="button" class="login-btn">Log In</button></a>
</div>
</body>
</html>