<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <title>WRITERSROOM | SIGNUP</title>
  <link rel="stylesheet" href="/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
<div class="signup-div">
  <h1>SIGN UP</h1>
  <form action="" method="post">
    <label>Username
      <input type="text" name="username" placeholder="Enter Username">
    </label>
    <label>Email
      <input type="text" name="email" placeholder="Enter Email">
    </label>
    <label>Password
      <input type="password" name="password" placeholder="Enter Password">
    </label>
    <label>Confirm Password
      <input type="password" name="confirm_password" placeholder="Re-Enter Password">
    </label>
    <button type="submit" class="signup-submit">Sign Up</button>
  </form>
</div>
</body>
</html>